/*! style pour le tableau de notes */
.classement-table table {
	color: var(--white);
	border-collapse: collapse;
	width: 100%;
  margin-bottom: 40px;
  }
  .classement-table thead {
	background-color: #847494;
  }
  .classement-table tbody {
	background-color: var(--orange_isen);
	border: 2px solid var(--white);
	max-height: 420px;
	overflow-y: scroll;
	display: block;
  }
  .classement-table th,
  td {
    text-align: center;
	padding: 10px 20px 10px 20px;
	border: 2px solid var(--white);
  }
  .classement-table tr {
	display: table;
	table-layout: fixed;
	width: 100%;
  }
  .classement-table tbody tr:nth-child(even) {
    background-color: var(--orange_isen);
  }
  .classement-table tbody tr:nth-child(odd) {
    background-color: #f89577;
  }
  .classement-table tbody tr:nth-child(even):hover {
    background-color: var(--violet_isen);
  }
  .classement-table tbody tr:nth-child(odd):hover {
    background-color: var(--violet_isen);
  }


  /*! Style pour le filtre */
  .filtre {
	background-color: var(--orange_isen);
	color: var(--white);
	width: 70%;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid var(--violet_isen);
  }
  .filtre h3 {
	text-decoration: underline;
	color: var(--violet_isen);
  }
  .filtre select {
	background-color: var(--violet_clair);
	color: var(--white);
	padding: 5px;
	border-radius: 5px;
	margin-right: 10px;
  }
  @-webkit-keyframes clignote {
    0%, 100% { background-color: transparent; }
    50% { background-color: var(--white); }
  }
  @keyframes clignote {
    0%, 100% { background-color: transparent; }
    50% { background-color: var(--white); }
  }
  .err {
    color: red;
    -webkit-animation: clignote 3s linear infinite;
            animation: clignote 3s linear infinite;
  }


  /*? Stylisation du formulaire select et des options */
.filtre select {
  background-color: var(--violet_clair);
  color: var(--white);
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.filtre select:focus {
  outline: none;
  background-color: var(--violet_isen);
}
.filtre option {
  background-color: var(--violet_clair);
  color: var(--white);
}
.filtre option:hover,
.filtre option:focus {
  background-color: var(--violet_isen);
  color: var(--white);
}

 /*! Style du bouton ajouter note */
  .button_container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
  }
  .btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    background-color: var(--violet_isen);
    padding: 17px 20px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.20);
  }
  .btn span {
    position: relative;
    z-index: 1;
  }
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 300%;
    width: 140%;
    background: var(--orange_isen);
    transition: all .5s ease-in-out;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  .btn:hover:after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
  #col {
    color: white;
  }
  #Appliquer-modif{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 30px;
    background: var(--violet_isen);
  }

  #span-but {
    display: block;
    padding: 25px 80px;
  }

  #Appliquer-modif::before,
  #Appliquer-modif::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--orange_isen);
  }

  #span-but::before,
  #span-but::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--orange_isen);
  }

  #Appliquer-modif:hover::before,
  #Appliquer-modif:hover::after {
    width: 100%;
  }

  #Appliquer-modif:hover span::before,
  #Appliquer-modif:hover span::after {
    height: 100%;
  }

  #Appliquer-modif::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
  }

  #Appliquer-modif span::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
  }

  #Appliquer-modif::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
  }

  #Appliquer-modif span::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
  }

  /*! Style de la scroll-bar */
  .thtab{
    width: calc(19vw + 5px);
  }
.thta{
  width: calc(20vw + 8px);
}
  .classement-table tbody::-webkit-scrollbar {
    width: 12px;
  }

  .classement-table tbody::-webkit-scrollbar-track {
    background-color: var(--violet_isen);
    border-radius: 10px;
  }

  .classement-table tbody::-webkit-scrollbar-thumb {
    background-color: var(--orange_isen);
    border-radius: 10px;
  }



/** Quand il n'y a pas de note */
#div_pasnote{
  background-color: #3F2A56;
  border-radius: 5px;
  color: #F06B42;
  width: 70%;
  height: 30%;
  position: fixed; /* Position fixe pour maintenir la pop-up à l'écran */
  top: 50%; /* Positionnement vertical au centre */
  left: 50%; /* Positionnement horizontal au centre */
  transform: translate(-50%, -50%); /* Déplacement de la pop-up au centre de la fenêtre */
  padding: 20px; /* Espacement interne */
  z-index: 9999;
  display: none;
}
#div_pasnote_flex{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#btn_pasnote{

  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--orange_isen);
  padding: 10px;
  border: none;
  border-radius: 5px;
}
#i_pasnote{
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: flex-end;

}
#i_pasnote i {
  width: 25px;
  height: auto;
}


/*! Css de la barre de recherche */
.search-container {
  position: relative;
  width: 300px;
  /* margin: 30px 0px 0px 50%; */
  border-radius: 3px;
  border: 2px solid var(--violet_isen);
  margin: 50px auto;
}
#search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/*! Css pour la popUP */
.notePopup {
  position: absolute;
  top: 115px;
  left: 73%;
  right: 15px;
  display: none;
  background-color: var(--violet_clair);
	color: var(--white);
  border-radius: 10px;
	border: 2px solid var(--violet_isen);
}
.notePopup h2 {
  text-align: center;
  color: var(--violet_isen);
}
#info_note {
  justify-content: space-around;
  margin-left: 10px;
}